<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luckypoint">

    <application
        android:allowBackup="true"
        android:icon="@drawable/luchpt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/luchpt"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuckyPoint">
        <activity
            android:name=".slotmachine.SlotMachine"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PickNumDice"
            android:exported="true" />
        <activity
            android:name=".SelectDiceMode"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Lotto" />
        <activity android:name=".LuckyCard" />
        <activity android:name=".Roulette" />
        <activity android:name=".Dice" />
    </application>

</manifest>